@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@*
    This snippet makes a breadcrumb of parents using an unordered HTML list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = Model.Content.Ancestors().ToArray(); }

<div class="siteInfo">

    @if (selection.Length > 0)
    {
        <ul class="breadcrumb">
            @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                <li> <h5> <a style="text-decoration: none; color: #4c4c4c;" href="@item.Url">@item.Name - </a> <span style="color:#2DCA73" class="">@Model.Content.Name</span></h5></li>
            }

            @* Display the current page as the last item in the list *@
        </ul>
    }
</div>