<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT kontaktOs ANY>
<!ATTLIST kontaktOs id ID #REQUIRED>
<!ELEMENT bannerImg ANY>
<!ATTLIST bannerImg id ID #REQUIRED>
<!ELEMENT vaeresteder ANY>
<!ATTLIST vaeresteder id ID #REQUIRED>
<!ELEMENT vaerested ANY>
<!ATTLIST vaerested id ID #REQUIRED>
<!ELEMENT nyheder ANY>
<!ATTLIST nyheder id ID #REQUIRED>
<!ELEMENT nyhed ANY>
<!ATTLIST nyhed id ID #REQUIRED>
]>
<root id="-1">
  <home id="1063" key="58e181e4-3ab4-42d7-8efd-50151c5a7f23" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-25T06:39:55" updateDate="2018-05-06T11:13:59" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="home" isPublished="true">
    <logo><![CDATA[umb://media/1e80695acb754fdaba77978b45f7038d]]></logo>
    <title><![CDATA[Landsforeningen af VæreSteder]]></title>
    <twitter><![CDATA[https://www.google.dk/]]></twitter>
    <facebook><![CDATA[https://www.google.dk/]]></facebook>
    <youtube><![CDATA[https://www.google.dk/]]></youtube>
    <googleMapsLink><![CDATA[https://www.google.dk/maps/place/Landsforeningen+Af+V%C3%A6resteder/@55.5670534,9.7520193,17z/data=!3m1!4b1!4m5!3m4!1s0x464c973daa475de7:0x1a4ac4c393a0722a!8m2!3d55.5670504!4d9.754208]]></googleMapsLink>
    <cvr><![CDATA[29055009]]></cvr>
    <telefon><![CDATA[7592 4000]]></telefon>
    <adresse><![CDATA[Danmarksgade 6A, 1. - 7000 Fredericia]]></adresse>
    <email><![CDATA[lvsinfo@lavs.dk]]></email>
    <kontaktOs id="1120" key="0b52c78d-319a-487e-94be-d7a7e19420a9" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2018-05-06T11:39:06" updateDate="2018-05-08T07:33:08" nodeName="Kontakt os" urlName="kontakt-os" path="-1,1063,1120" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="kontaktOs" isPublished="true">
      <banner><![CDATA[umb://media/7dbcd707607e41da943161e26a3c4208]]></banner>
      <bannerHead><![CDATA[Kontakt os]]></bannerHead>
    </kontaktOs>
    <vaeresteder id="1124" key="66a361ca-290b-4aa4-aed5-ba85baefd1ca" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2018-05-06T15:14:30" updateDate="2018-05-08T07:04:21" nodeName="Væresteder" urlName="vaeresteder" path="-1,1063,1124" isDoc="" nodeType="1123" creatorName="admin" writerName="admin" writerID="0" template="1122" nodeTypeAlias="vaeresteder" isPublished="true">
      <banner><![CDATA[umb://media/4210ceef5eaa42228d91f8dcc4c5ba87]]></banner>
      <bannerHead><![CDATA[Væresteder]]></bannerHead>
      <vaerested id="1128" key="aed4fbe7-b944-4421-88f3-cddb37826174" parentID="1124" level="3" creatorID="0" sortOrder="0" createDate="2018-05-06T15:29:27" updateDate="2018-05-09T08:46:48" nodeName="Test" urlName="test" path="-1,1063,1124,1128" isDoc="" nodeType="1127" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vaerested" isPublished="true">
        <vLandsdel><![CDATA[sjaelland]]></vLandsdel>
        <vAdresse><![CDATA[hej adresse 12]]></vAdresse>
        <vName><![CDATA[test]]></vName>
        <vImg><![CDATA[umb://media/b3947051fe2e4c8ca6762f62892e1692]]></vImg>
        <vEmail><![CDATA[test@test.dk]]></vEmail>
        <vTelefon><![CDATA[12345678]]></vTelefon>
      </vaerested>
      <vaerested id="1134" key="449d4c90-f1c3-4633-8ca8-b8ee1a5d82e2" parentID="1124" level="3" creatorID="0" sortOrder="1" createDate="2018-05-06T17:06:52" updateDate="2018-05-09T11:30:16" nodeName="test2" urlName="test2" path="-1,1063,1124,1134" isDoc="" nodeType="1127" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vaerested" isPublished="true">
        <vLandsdel><![CDATA[jylland]]></vLandsdel>
        <vAdresse><![CDATA[123123]]></vAdresse>
        <vName><![CDATA[test2]]></vName>
        <vImg><![CDATA[umb://media/c7964fde10324dba86d73982f0bed8d4]]></vImg>
        <vEmail><![CDATA[teste2123123123]]></vEmail>
        <vTelefon><![CDATA[12312312aa]]></vTelefon>
      </vaerested>
      <vaerested id="1136" key="66e6edfb-f99b-4da1-acd7-d6a56473ed3d" parentID="1124" level="3" creatorID="0" sortOrder="2" createDate="2018-05-08T08:33:25" updateDate="2018-05-09T11:30:25" nodeName="asda" urlName="asda" path="-1,1063,1124,1136" isDoc="" nodeType="1127" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vaerested" isPublished="true">
        <vLandsdel><![CDATA[jylland]]></vLandsdel>
        <vAdresse><![CDATA[3]]></vAdresse>
        <vName><![CDATA[test]]></vName>
        <vImg><![CDATA[umb://media/7dbcd707607e41da943161e26a3c4208]]></vImg>
        <vEmail><![CDATA[3]]></vEmail>
        <vTelefon><![CDATA[3]]></vTelefon>
      </vaerested>
    </vaeresteder>
    <nyheder id="1143" key="978b4da0-5175-436e-95a7-05fef53f4f23" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2018-05-15T08:39:08" updateDate="2018-05-15T08:39:08" nodeName="Nyheder" urlName="nyheder" path="-1,1063,1143" isDoc="" nodeType="1138" creatorName="admin" writerName="admin" writerID="0" template="1137" nodeTypeAlias="nyheder" isPublished="true">
      <banner><![CDATA[umb://media/c7abe1e02774434ea99ab20817e22176]]></banner>
      <bannerHead><![CDATA[Nyheder]]></bannerHead>
      <nyhed id="1144" key="5a2557aa-b22e-493d-9969-1863ecd6dc67" parentID="1143" level="3" creatorID="0" sortOrder="0" createDate="2018-05-15T08:39:40" updateDate="2018-05-15T11:15:18" nodeName="Fodbold blabal" urlName="fodbold-blabal" path="-1,1063,1143,1144" isDoc="" nodeType="1139" creatorName="admin" writerName="admin" writerID="0" template="1146" nodeTypeAlias="nyhed" isPublished="true">
        <nBody><![CDATA[<p>hej med med dig!</p>]]></nBody>
        <nImg><![CDATA[umb://media/b7bfcd88d55d43a093f60f5359e0bf58]]></nImg>
        <nHead><![CDATA[Fodbold blabal]]></nHead>
      </nyhed>
      <nyhed id="1150" key="c75f714a-147e-4056-ac16-99dfa52f905a" parentID="1143" level="3" creatorID="0" sortOrder="1" createDate="2018-05-15T11:09:50" updateDate="2018-05-15T11:09:50" nodeName="asd" urlName="asd" path="-1,1063,1143,1150" isDoc="" nodeType="1139" creatorName="admin" writerName="admin" writerID="0" template="1146" nodeTypeAlias="nyhed" isPublished="true">
        <nBody><![CDATA[<p>asd</p>]]></nBody>
        <nImg><![CDATA[umb://media/f32a425c8d884c2b864dcf2ac9731279]]></nImg>
        <nHead><![CDATA[asd]]></nHead>
      </nyhed>
    </nyheder>
  </home>
</root>