@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Nyhed>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var nyheder = Model.Content.Children<Nyhed>();
}
<h1 class="page-container h1banner">@Umbraco.Field("bannerHead")</h1>
<div id="overlay">
    <div class="header">
        @{
            var typedMediaPickerSingle = Model.Content.GetPropertyValue<IPublishedContent>
            ("banner");
            if (typedMediaPickerSingle != null)
            {
                <!--<p>@typedMediaPickerSingle.Url</p>-->
                <img src="@typedMediaPickerSingle.Url" alt="@typedMediaPickerSingle.GetPropertyValue(" alt")" />
            }
        }

    </div>

</div>